@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

.hero {
	background-image: url(../public/images/wines.png);
	height: 40vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.open {
	display: flex;
	height: 40vh;
}
.highlight {
	color: #ff2800;
}
.link {
	position: relative;
}

.links::after {
	content: "";
	height: 3px;
	width: 100%;
	background: #ff2800;
	position: absolute;
}
