@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

.hero {
	background-image: url(../public/images/wines.png);
	height: 35vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.about {
	background-image: url(../public/images/sodas.png);
	height: 40vh;
	width: 100vw;
	opacity: 35;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.whatsapp {
	background-image: url(../public/images/water.png);
	height: 35vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.location {
	background-image: url(../public/images/coffee.png);
	height: 35vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.open {
	display: flex;
	height: 40vh;
}
.highlight {
	color: #ff2800;
}

.links {
	@apply relative tracking-[1px] hover:text-white hover:bg-[#000080] p-4 md:px-2 md:py-4;
}

.links::after {
	@apply content-[""] bg-[#ff2800] h-[3px] w-[0] left-0 -bottom-5 rounded-xl 
	absolute duration-300;
}

.links:hover::after {
	@apply w-[100%];
}

.text-overlay {
	@apply hidden;
}

.text-overlay:hover {
	@apply absolute z-10 bg-black/30 h-full w-full flex justify-center items-center text-white uppercase font-bold;
}

.image_card {
	@apply max-h-[400px] text-[#000080] flex justify-center items-center;
}

.image_card:hover {
	filter: grayscale();
}
