@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700;8..144,900&display=swap");

html,
body,
:root {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
	margin: 0;
	font-family: Roboto;
}

.hero {
	background-image: url("/images/teasandcoffees.jpg");
	height: 35vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@apply mt-5;
}
.about {
	background-image: url("/images/sodas.jpg");
	height: 35vh;
	width: 100vw;
	opacity: 35;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@apply mt-5;
}

.whatsapp {
	background-image: url("/images/water.jpg");
	height: 35vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@apply mt-5;
}

.location {
	background-image: url("/images/location.jpg");
	height: 35vh;
	width: 100vw;
	opacity: 40;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@apply mt-5;
}

.open {
	display: flex;
	height: 40vh;
}
.highlight {
	color: #ff2800;
}

.links {
	@apply relative tracking-[1px] hover:text-white hover:bg-[#000080] p-4 md:px-2 md:py-4;
}

.links::after {
	@apply content-[""] bg-[#ff2800] h-[3px] w-[0] left-0 -bottom-5 rounded-xl 
	absolute duration-300;
}

.links:hover::after {
	@apply w-[100%];
}

.text-overlay {
	@apply hidden;
}

.text-overlay:hover {
	@apply absolute z-10 bg-black/30 h-full w-full flex justify-center items-center text-white uppercase font-bold;
}

.image_card {
	@apply max-h-[300px] text-[#000080] flex justify-center items-center scroll-smooth;
}

.image_card:hover {
	filter: grayscale(30%);
	@apply duration-300;
}

.filter:hover {
	filter: none;
}

.faq:hover {
	@apply bg-[#000080] text-white shadow-md shadow-[#ff2800]/60 rounded-md duration-150;
}
